<!DOCTYPE HTML>
%html{lang: "ru"}
  %head
    %title Первый проект на bootstra 3
    %meta{content: "text/html", charset: "utf-8"}
    %link{href: 'http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,700italic,300,300italic,400italic,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: "_/styles/style.min.css", rel: "stylesheet", type: "text/css"}
    %script{src: "_/javascripts/main.min.js", type: "text/javascript"}
  %body{id: "home"}
    %section.container 
      .content.row
        <?php include "_/views/layouts/header.php"; ?>
        %section.main.col.col-lg-8
        %section.sidebar.col.col-lg-4
          Sidebar
        <?php include "_/views/layouts/footer.php"; ?>
    /*
      
      